@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

h1{
  background-color: #FF6000;
  padding: 10px;
  text-align: center;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.search{
  padding: 20px;
  text-align: center;
  background-color: #454545;
}

.search input{
  padding: 10px 20px;
  outline: none;
  border: none;
}

.search button{
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #FF6000;
}
.search button:hover{
  background-color: #FFA559;
}

.recipe-item{
  background-color: #454545;
  padding: 10px;
  border-radius: 5px;
}

.recipe-item img{
  border-radius: 5px;
}

.recipe-item p{
  color: #fff;
  margin: 10px 0;
}

.recipe-item button{
  padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.recipe-item button:hover{
  background-color: #FF6000;
  color: #fff;
}
